<script>
    const navToggle = document.getElementById("nav-toggle"); 
    const parentContainer = document.querySelector(".parent-container"); 
    const navbarWidthExpanded = 300; 
    const navbarWidthCollapsed = 100; 
    const navbarRightExpanded = 40;
    const navbarrightCollapsed = 0;


const navToggleBurger = document.getElementById("nav-toggle-burger"); 
const navbarRightCollapsed = 0;
    
    var favbtn = document.getElementById('favbtn');
    
    function FavButton1(event, toolName, description, iconText, href) {
        
        event.preventDefault();
    
        
        var favbtn = document.getElementById("favbtn1");
        favbtn.classList.toggle("fav-active");
    
        
        if (favbtn.classList.contains("fav-active")) {
            favbtn.style.color = "red"; 
        } else {
            favbtn.style.color = ""; 
        }
    
        
        var isFavorited = favbtn.classList.contains("fav-active");
        fetch('/toggle-favorite', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                tool_name: toolName,
                description: description,
                icon_text: iconText,
                is_favorited: isFavorited,
                href: href,
            })
        })
        .then(response => response.json())
        .then(data => {
            console.log(data.message); 
        })
        .catch(error => console.error('Error:', error));
    }
    
    function FavButton2(event, toolName, description, iconText, href) {
        
        event.preventDefault();
    
      
        var favbtn = document.getElementById("favbtn2");
        favbtn.classList.toggle("fav-active");
    
        
        if (favbtn.classList.contains("fav-active")) {
            favbtn.style.color = "red"; 
        } else {
            favbtn.style.color = ""; 
        }
    
        
        var isFavorited = favbtn.classList.contains("fav-active");
        fetch('/toggle-favorite', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                tool_name: toolName,
                description: description,
                icon_text: iconText,
                is_favorited: isFavorited,
                href: href,
            })
        })
        .then(response => response.json())
        .then(data => {
            console.log(data.message); 
        })
        .catch(error => console.error('Error:', error));
    }
    
    
    function FavButton3(event, toolName, description, iconText, href) {
        event.preventDefault();
    
        
        var favbtn = document.getElementById("favbtn3");
        favbtn.classList.toggle("fav-active");
    
        
        if (favbtn.classList.contains("fav-active")) {
            favbtn.style.color = "red";
        } else {
            favbtn.style.color = ""; 
        }
    
        
        var isFavorited = favbtn.classList.contains("fav-active");
        fetch('/toggle-favorite', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                tool_name: toolName,
                description: description,
                icon_text: iconText,
                is_favorited: isFavorited,
                href: href,
            })
        })
        .then(response => response.json())
        .then(data => {
            console.log(data.message); 
        })
        .catch(error => console.error('Error:', error));
    }
    
    
    function FavButton4(event, toolName, description, iconText, href) {
        event.preventDefault();
    
        var favbtn = document.getElementById("favbtn4");
        favbtn.classList.toggle("fav-active");
    
        
        if (favbtn.classList.contains("fav-active")) {
            favbtn.style.color = "red"; 
        } else {
            favbtn.style.color = ""; 
        }
    
        var isFavorited = favbtn.classList.contains("fav-active");
        fetch('/toggle-favorite', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                tool_name: toolName,
                description: description,
                icon_text: iconText,
                is_favorited: isFavorited,
                href: href,
            })
        })
        .then(response => response.json())
        .then(data => {
            console.log(data.message); 
        })
        .catch(error => console.error('Error:', error));
    }
    
    function FavButton5(event, toolName, description, iconText, href) {
        event.preventDefault();
    
    
        var favbtn = document.getElementById("favbtn5");
        favbtn.classList.toggle("fav-active");
    
        if (favbtn.classList.contains("fav-active")) {
            favbtn.style.color = "red"; 
        } else {
            favbtn.style.color = ""; 
        }
    
        var isFavorited = favbtn.classList.contains("fav-active");
        fetch('/toggle-favorite', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                tool_name: toolName,
                description: description,
                icon_text: iconText,
                is_favorited: isFavorited,
                href: href,
            })
        })
        .then(response => response.json())
        .then(data => {
            console.log(data.message);
        })
        .catch(error => console.error('Error:', error));
    }
    
    function FavButton6(event, toolName, description, iconText, href) {
    
        event.preventDefault();
    
       
        var favbtn = document.getElementById("favbtn6");
        favbtn.classList.toggle("fav-active");
    
        
        if (favbtn.classList.contains("fav-active")) {
            favbtn.style.color = "red"; 
        } else {
            favbtn.style.color = ""; 
        }
    
        
        var isFavorited = favbtn.classList.contains("fav-active");
        fetch('/toggle-favorite', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                tool_name: toolName,
                description: description,
                icon_text: iconText,
                is_favorited: isFavorited,
                href: href,
            })
        })
        .then(response => response.json())
        .then(data => {
            console.log(data.message); 
        })
        .catch(error => console.error('Error:', error));
    }
    
    function FavButton7(event, toolName, description, iconText, href) {
        event.preventDefault();
    
        
        var favbtn = document.getElementById("favbtn7");
        favbtn.classList.toggle("fav-active");
    
    
        if (favbtn.classList.contains("fav-active")) {
            favbtn.style.color = "red"; 
        } else {
            favbtn.style.color = ""; 
        }
    
       
        var isFavorited = favbtn.classList.contains("fav-active");
        fetch('/toggle-favorite', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                tool_name: toolName,
                description: description,
                icon_text: iconText,
                is_favorited: isFavorited,
                href: href,
            })
        })
        .then(response => response.json())
        .then(data => {
            console.log(data.message); 
        })
        .catch(error => console.error('Error:', error));
    }
    
    
    function FavButton8(event, toolName, description, iconText, href) {
        event.preventDefault();
    
        
        var favbtn = document.getElementById("favbtn8");
        favbtn.classList.toggle("fav-active");
    
    
        if (favbtn.classList.contains("fav-active")) {
            favbtn.style.color = "red"; 
        } else {
            favbtn.style.color = ""; 
        }
    
    
        var isFavorited = favbtn.classList.contains("fav-active");
        fetch('/toggle-favorite', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                tool_name: toolName,
                description: description,
                icon_text: iconText,
                is_favorited: isFavorited,
                href: href,
            })
        })
        .then(response => response.json())
        .then(data => {
            console.log(data.message); 
        })
        .catch(error => console.error('Error:', error));
    }
    
    
    function FavButton9(event, toolName, description, iconText, href) {
      
        event.preventDefault();
    
       
        var favbtn = document.getElementById("favbtn9");
        favbtn.classList.toggle("fav-active");
    
        
        if (favbtn.classList.contains("fav-active")) {
            favbtn.style.color = "red"; 
        } else {
            favbtn.style.color = ""; 
        }
    
        
        var isFavorited = favbtn.classList.contains("fav-active");
        fetch('/toggle-favorite', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                tool_name: toolName,
                description: description,
                icon_text: iconText,
                is_favorited: isFavorited,
                href: href,
            })
        })
        .then(response => response.json())
        .then(data => {
            console.log(data.message); 
        })
        .catch(error => console.error('Error:', error));
    }
    
    
    function FavButton10(event, toolName, description, iconText, href) {
        event.preventDefault();
    
        var favbtn = document.getElementById("favbtn10");
        favbtn.classList.toggle("fav-active");
    
       
        if (favbtn.classList.contains("fav-active")) {
            favbtn.style.color = "red"; 
        } else {
            favbtn.style.color = ""; 
        }
    
      
        var isFavorited = favbtn.classList.contains("fav-active");
        fetch('/toggle-favorite', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                tool_name: toolName,
                description: description,
                icon_text: iconText,
                is_favorited: isFavorited,
                href: href,
            })
        })
        .then(response => response.json())
        .then(data => {
            console.log(data.message);
        })
        .catch(error => console.error('Error:', error));
    }
    
    
    navToggle.addEventListener('change', function() {
      if (navToggle.checked) {
        parentContainer.style.marginRight = `${navbarrightCollapsed}px`;
        parentContainer.style.marginLeft = `${navbarWidthCollapsed}px`; 
        parentContainer.style.transition = "margin-left 0.3s ease";
      } else {
        parentContainer.style.marginRight = `${navbarRightExpanded}px`;
        parentContainer.style.marginLeft = `${navbarWidthExpanded}px`; 
        parentContainer.style.transition = "margin-left 0.3s ease";
      }
    });
    
    
    
    window.onload = function() {
        const favButtons = document.querySelectorAll('.favbtn');
        
        favButtons.forEach(button => {
            const isFavorited = button.getAttribute('data-favorited') === 'true';
            
            if (isFavorited) {
                button.classList.add('fav-active');
                button.style.color = "red";
            }
        });
    }
    
    

    
    
    




function adjustLayoutForNavbar() {
  if (window.innerWidth > 768) {
    navToggle.addEventListener("change", updateCardContainerStyles);
    navToggle.disabled = false;
  } else {
    navToggle.checked = true; 
    navToggle.disabled = true;
   
    parentContainer.style.marginLeft = '';
    parentContainer.style.marginRight = '';
    
    navToggleBurger.addEventListener('click', function() {
      window.location.href = "{{ url_for('homepage') }}";
    });
  }
}

function closeNavbarOnSmallScreens() {
  const navBar = document.getElementById("nav-bar"); 
  const navToggle = document.getElementById("nav-toggle"); 
  
  if (window.innerWidth <= 768) {
    navToggle.checked = true; 
    navToggle.disabled = true; 
    navBar.classList.add("show"); 
  } else {
    navToggle.disabled = false; 
    navBar.classList.add("show"); 
  }
}

window.addEventListener("load", function () {
  closeNavbarOnSmallScreens();
  adjustLayoutForNavbar();
});


window.addEventListener("resize", function () {
  closeNavbarOnSmallScreens();
  adjustLayoutForNavbar();
});
      </script>
 
</body>
</html>
